<% include header.ejs %>

    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#"><%=title%></a></h1>
        </li>
      </ul>
    </nav>

    <div class="row ">
        <form id="changeTable">
          <br>
          
          <div class="row">

           <div class="large-10 small-10 large-centered  small-centered  columns">
                  <span id="tableNum" class="large radius button secondary" style="font-size:80px;"></span>

                  <span id="orderup" class="large radius button " style="font-size:80px;">开单</span>
           </div>   
          </div>
        </form>
    </div>     
    <script>
      $(document).foundation();
    </script>
  </body>
</html>

    <script>
      $(document).foundation();
      var order_io_res = io().connect("/");
      var order_io = io.connect("/order");

      order_io_res.on("order",function(data){
        console.log(data);
      })

      var storage = window.localStorage;
      var currentNum = storage["table_num"];
      if(!currentNum){
        window.location.href="/table/init/";
      }
      $.get("/table/"+currentNum,function(data){
        if(data.length==0){
          window.location.href="/table/init/";
          return;
        }
        init();
      });

       var init = function(){
          $("#tableNum").text(currentNum+"号");
          $.get("/table/"+currentNum,function(data){
            if(data[0].pay_state>0){
              window.location.href="/account/"+currentNum+"/"+data[0].bill_id;
              return;
            }
            if(!data[0].bill_id){
               $("#orderup").click(function(){
                    $.post("/bill/add/"+currentNum,function(res){
                      storage["bill_id"]=res.bill_id;
                      storage["table_num"]=currentNum;    
                      order_io.emit('order',{table_num:currentNum,bill_id:res.bill_id},function(data){
                        if(data==200){
                          window.location.href="/customer/"+currentNum+"/"+res.bill_id;
                          return;
                        }
                      });                
                    });
                });
            }else{
              window.location.href="/customer/"+currentNum+"/"+data[0].bill_id;
            }
          });
          
       }  

       

    </script>
  